<div class="flex min-h-screen" [class.dark]="isDarkMode">
    <!-- Sidebar -->
    <app-sidebar class="dark:bg-gray-900"></app-sidebar>

    <!-- Main Content -->
    <div class="flex flex-1 flex-col sm:ml-64">

        <!-- Navbar -->
        <app-navbar></app-navbar>


        <!-- Main Content Area -->
        <main class="flex-1 overflow-y-auto bg-slate-200 dark:bg-slate-700">
            <!-- Your main content goes here -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>