<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded dark:bg-gray-700 shadow-md">
        <div class="flex justify-between">
            <div>
                <p class="text-xl font-bold dark:text-white">Visitors</p>
                <p class="text-gray-500 dark:text-white text-xl">75,468</p>
            </div>
            <div>
                <svg class="w-8 h-8 text-teal-600 mb-2 dark:text-teal-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
                        clip-rule="evenodd" />
                </svg>

            </div>
        </div>
    </div>
    <div class="bg-white  p-4 rounded dark:bg-gray-700 shadow-md">
        <div class="flex justify-between">
            <div>
                <p class="text-xl font-bold dark:text-white">Page Views</p>
                <p class="text-gray-500 dark:text-white text-xl">5,678</p>
            </div>
            <div>
                <svg class="w-8 h-8 text-teal-600 mb-2 dark:text-teal-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    <div class="bg-white  p-4 rounded dark:bg-gray-700 shadow-md">
        <div class="flex justify-between">
            <div>
                <p class="text-xl font-bold dark:text-white">Sales</p>
                <p class="text-gray-500 dark:text-white text-xl">1,230</p>
            </div>
            <div>
                <svg class="w-8 h-8 text-teal-600 mb-2 dark:text-teal-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 10h9.231M6 14h9.231M18 5.086A5.95 5.95 0 0 0 14.615 4c-3.738 0-6.769 3.582-6.769 8s3.031 8 6.769 8A5.94 5.94 0 0 0 18 18.916" />
                </svg>

            </div>
        </div>
    </div>
</div>