<div class="p-4 bg-white rounded shadow dark:bg-gradient-to-t
 dark:from-teal-900 dark:to-slate-800">
    <h3 class="text-2xl text-teal-700 font-bold mb-4 dark:text-white">Stats</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-gray-200 p-4 rounded dark:bg-gray-700">
            <div class="text-xl font-bold dark:text-white">Visitors</div>
            <div class="text-gray-600 dark:text-white">1,234</div>
        </div>
        <div class="bg-gray-200 p-4 rounded dark:bg-gray-700">
            <div class="text-xl font-bold dark:text-white">Page Views</div>
            <div class="text-gray-600 dark:text-white">5,678</div>
        </div>
        <div class="bg-gray-200 p-4 rounded dark:bg-gray-700">
            <div class="text-xl font-bold dark:text-white">Sales</div>
            <div class="text-gray-600 dark:text-white">$10,345</div>
        </div>
    </div>
</div>